.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0 10rem;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  /* height: 50vh; */
  margin: 5vh;
}
.text-area-container {
  display:  flex;

}

.text-input, .text-output {
  display: block;
  margin: 1rem;
  width: 35vw;
}
.text-output {
  background-color: #CCCCCC;
}

button {
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
}